* {
  padding: 0;
  margin: 0;
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #ccc;
  line-height: 1.5;
}

.form {
  border: 1px solid #999;
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding: 2rem;
  min-width: 60%;
  margin-bottom: 2rem;
}

.form__input {
  width: 40%;
  padding: 1rem;
  font-size: 1.5rem;
}

.form__button {
  background-color: #000;
  color: #fff;
  margin-left: 2rem;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.form__list {
  border: 1px solid #999;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 2rem;
  min-width: 60%;
}

.error-message {
  border: 1px solid #999;
  min-width: 60%;
  padding: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: #ff0000;
  background-color: #fff;
  margin-bottom: 2rem;

}